<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<title>ログイン失敗</title>
</head>
<body>
<br>
<br>
<div class="container">
<div class="text-center">
	
	<h6 th:inline="text">エラーです</h6><br>

	<form>
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/register">新規登録画面へ</a>
			</div>
		</div>
		
	</form>
	</div>
	</div>
	<script src="/js/jquery-3.5.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>