<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ログイン</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<p style="text-align: center;">オリジナルログインフォームです</p>
		<form class="form-signin" th:action="@{/login}" method="post">
			<div th:if="${showErrorMsg}" class="alert alert-danger" role="alert"
				th:text="${errorMsg}">※エラーメッセージ※</div>
			<div th:if="${showLogoutedMsg}" class="alert alert-success"
				role="alert" th:text="#{demo.login.logouted}">※ログアウトメッセージ※</div>

			<p>
				<input type="text" id="username" name="username"
					class="form-control" placeholder="ユーザID" required autofocus>
			</p>
			<p>
				<input type="password" id="password" name="password"
					class="form-control" placeholder="パスワード" required>
			</p>
			<button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
		</form>
	</div>
	<script src="/js/jquery-3.5.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>