<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ログイン</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
   <p style="text-align: center;">オリジナルログインフォーム</p>
   <form class="form-signin" th:action="@{/login}" method="post">
      <div class="alert alert-danger" th:if="${param.error}">
       <small>ユーザー名またはパスワードが正しくありません</small>
      </div>
      <div class="alert alert-success" th:if="${param.logout}">
       <small>ログアウトしました</small>
      </div>

        <p>
          <input type="text"  name="userId" class="form-control" placeholder="ユーザID" required autofocus>
        </p>
        <p>
          <input type="password" id="password" name="password" class="form-control" placeholder="パスワード" required>
        </p>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
   </form>
   <hr>
   <div class="text-center">
     <a th:href="@{/register}">新規登録</a>
     
   </div>
   <div class="text-center">
  <h6>新規登録はこちらからもできますが、</h6><br>
  <h6>1つアカウントはこちらで用意しました</h6><br>
  <h6>ID: user</h6><br>
  <h6>password: password</h6>
  </div>
</div>
</body>
</html>