<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<title>ユーザー登録</title>
</head>
<body>
	<div class="container">
		<div class="card card-primary mb-3">
			<div class="card-header">
				<h5 class="card-title">新規登録画面</h5>
				<form th:action="@{/register}" action="/register" method="post">
					
					<div class="row">
						<div class="col-xl-12 form-group">
							<label for="userId">ユーザーID</label> <input type="text"
								class="form-control" id="user_id" name="user_id">
								

						</div>
						<div class="col-xl-12 form-group">
							<label for="password">パスワード</label> <input type="password"
								class="form-control" id="password" name="password">


						</div>
					</div>
					<input type="submit" value="新規登録">
				</form>

			</div>
		</div>
	</div>
	<script src="/js/jquery-3.5.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>